<div *ngIf="loading" class="loading" [@enterAnimation]>loading...</div>

<div class="progress timer">
  <div class="progress-bar bg-success" [ngStyle]="{ 'width': countdownPercent + '%' }"></div>
</div>

<div class="container-fluid">
  <h1>Meta de Despesas</h1>
  <h3 class="text-center">
    <a class="btn btn-sm btn-outline-info" href="javascript:void(0);" (click)="prevMonth()">&larr;</a>
    {{ currentMonth }}
    <a class="btn btn-sm btn-outline-info" href="javascript:void(0);" (click)="nextMonth()">&rarr;</a>
  </h3>

  <div class="main">
    <ul class="budget-list clearfix">
      <li *ngIf="total">
        <article>
          <header>
            <h2>{{ total.name }}</h2>
            <h3>{{ (total.balance || 0) | number:'1.2-2' }}</h3>
          </header>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" [ngStyle]="{ 'width': total.percent + '%', 'background-color': total.color }">
              {{ total.percent | number:'1.0-0' }}%
            </div>
          </div>
          <p>
            {{ (total.amount || 0) | number:'1.2-2' }} de {{ (total.budget || 0) | number:'1.2-2' }}
          </p>
        </article>
      </li>
      <li *ngFor="let budget of budgets">
        <article>
          <header>
            <h2>{{ budget.name }}</h2>
            <h3>{{ (budget.balance || 0) | number:'1.2-2' }}</h3>
          </header>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" [ngStyle]="{ 'width': budget.percent + '%', 'background-color': budget.color }">
              {{ budget.percent | number:'1.0-0' }}%
            </div>
          </div>
          <p>
            {{ (budget.amount || 0) | number:'1.2-2' }} de {{ (budget.budget || 0) | number:'1.2-2' }}
          </p>
        </article>
      </li>
    </ul>

    <ul class="transactions-list">
      <ng-container *ngFor="let budget of budgets">
        <li *ngIf="budget.transactions && budget.transactions.length">
          <div class="budget-title">
            <span class="description">{{ budget.name | uppercase }}</span>
            <span class="amount">{{ (budget.amount || 0) | number:'1.2-2' }}</span>
          </div>
          <ul>
            <li *ngFor="let transaction of budget.transactions">
              <ng-container *ngIf="transaction.card_name">*</ng-container>
              <span class="description" title="{{ transaction.date | date:'dd/MM/yyyy' }} - {{ transaction.card_name }}">
                {{ transaction.description | uppercase }}
              </span>
              <span class="amount">{{ (transaction.amount || 0) | number:'1.2-2' }}</span>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </div>
</div>