.loading {
  background: linear-gradient(-45deg, rgba(238, 118, 82, 0.8), rgba(231, 60, 126, 0.8), rgba(35, 165, 213, 0.8), rgba(35, 213, 171, 0.8));
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;

  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  color: #FFF;
  font-size: 30px;
  font-weight: 100;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

article .progress {
  height: 40px;

  .progress-bar {
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }
}

.progress.timer {
  height: 4px;
  justify-content: flex-end;
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}

.container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}

h1, h3 {
  display: block;
  width: 100%;
  font-weight: 100;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 small {
  font-size: 70%;
  font-style: italic;
  font-weight: inherit;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.main {
  display: flex;
  margin-top: 30px;
}

.budget-list {
  width: 25%;
  list-style: none;
  padding-left: 0;
}

article {
  header {
    display: flex;

    h2,
    h3 {
      font-size: 16px;
      font-weight: 100 !important;
    }

    h2 {
      flex: 1;
    }

    h3 {
      text-align: right;
      width: auto;
    }
  }

  p {
    text-align: right;
    font-weight: 100;
    font-size: 13px;
  }
}

.transactions-list {
  width: 75%;
  list-style: none;
  padding-left: 20px;

  > li {
    font-weight: bold;
    font-size: 13px;
    width: 33.33333%;
    padding: 0 20px 20px 0;
    float: left;
  }

  .budget-title {
    display: flex;
    border-bottom: solid 2px #f0f0f0;

    .description {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .amount {
      white-space: nowrap;
      margin-left: 5px;
      color: red;
    }
  }

  ul {
    width: 100%;
    list-style: none;
    padding-left: 0;
    font-size: 11px;
    font-weight: normal;

    > li {
      display: flex;
      border-bottom: solid 1px #f0f0f0;

      .description {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .amount {
        font-weight: bold;
        white-space: nowrap;
        margin-left: 5px;
      }
    }
  }
}

.disabled {
  opacity: 0.3;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
}