<div *ngIf="loading" class="loading" [@enterAnimation]>loading...</div>

<div class="progress timer">
  <div class="progress-bar bg-success" [ngStyle]="{ 'width': countdownPercent + '%' }"></div>
</div>

<div class="container-fluid">
  <h1>Meta de Despesas</h1>
  <h3 class="text-center">
    <a class="btn btn-sm btn-outline-info" href="javascript:void(0);" (click)="prevMonth()">&larr;</a>
    {{ currentMonth }}
    <a class="btn btn-sm btn-outline-info" href="javascript:void(0);" (click)="nextMonth()">&rarr;</a>
  </h3>

  <div class="main">
    <ul class="budget-list clearfix">
      <li *ngIf="dayProgress" class="day-progress" [ngStyle]="{ 'left': dayProgress + '%' }">
        <div class="today">HOJE</div>
      </li>

      <li *ngFor="let budget of budgets" class="budget" [class.total]="budget.id === 0">
        <article>
          <header>
            <h2>{{ budget.category_name }}</h2>
            <h3>{{ budget.amount | number:'1.2-2' }}</h3>
          </header>
          <div class="progress">
            <div class="progress-bar" [ngStyle]="{ 'width': budget.percentage + '%', 'background-color': '#' + budget.category_color }"></div>
            <div class="infos">
              <div class="used">{{ budget.totalUsed | number:'1.2-2' }}</div>
              <div class="remaining">{{ budget.amount - budget.totalUsed | number:'1.2-2' }}</div>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</div>