<div *ngIf="loading" class="loading" [@enterAnimation]>loading...</div>

<button (click)="refreshData()" [disabled]="loading">Refresh</button>

<table style="width: 100%">
  <tr>
    <td style="vertical-align: top; width: 50%;">categories: {{ categories.length }}</td>
    <td style="vertical-align: top; width: 50%;">transactions: {{ transactions.length }}</td>
  </tr>
  <tr>
    <td style="vertical-align: top; width: 50%;">
      <pre>{{ categories | json }}</pre>
    </td>
    <td style="vertical-align: top; width: 50%;">
      <pre>{{ transactions | json }}</pre>
    </td>
  </tr>
</table>