/deep/ .carousel {
  min-height: 100%;
  height: 100%;

  .carousel-inner {
    min-height: 100%;
    height: 100%;
    overflow: initial;
  }

  .carousel-item {
    min-height: 100%;
    height: 100%;
  }
}

.weather-trello {
  height: 100%;

  app-weather {
    height: 30%;
    margin-bottom: 40px;
    display: block;
  }
}
